body {
  background-color: #FFF8F2;
}

.header {
  background-color: #FFF8F2;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 30px;
}

.office-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.office-card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.office-card {
  width: 45%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 20px 20px;
  /* Increased horizontal margin for more space between cards in the same row */
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.office-card-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.random-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 400px;
  padding: 15px;
}

.grid-cell {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.grid-cell.highlighted {
  background-color: #4CAF50;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-cell span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: clamp(12px, 2vw, 20px);
  /* Responsive font size */
}

.grid-cell:hover {
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #4CAF50;
  text-align: center;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}